.buttonState:hover{
    color: white !important;
    background-color: #c61732;
    transition: 0.5s;
}

.banner-forest{
    height: 48vh;
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-down-article{
    position: relative;
    background: url(../img/featured-wrapper-bg.jpg) repeat;
    text-align: center;
    color: #FFF;
}

.bg-down-article-2{
    position: relative;
    background: url(../img/footer-content-wrapper-bg.jpg) repeat;
    text-align: center;
    color: #FFF;
}
.bg-footer-dark{
    position: relative;
    background: url(../img/darkback.jpg) repeat;
    text-align: center;
    color: #FFF;
}

.text-color-and-decoration{
    text-align: start;
    text-decoration: none;
    color: rgba(255,255,255,.6)
}
.text-color-and-decoration:hover{
    color:rgba(255,255,255,.6);
    text-decoration: underline rgba(255,255,255,.6);
}