.buttonState:hover{
    color: white !important;
    background-color: #c61732;
    transition: 0.5s;
}

.banner-forest{
    height: 48vh;
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-down-article{
    position: relative;
    background: url(../img/featured-wrapper-bg.jpg) repeat;
    text-align: center;
    color: #FFF;
}